    <div class="card">

        <div class="card-image-wrapper">
            <img *ngIf="property.image" src="/assets/image/{{property.image}}.jpeg" class="card-img-top" alt="..." />
            <img *ngIf="!property.image" src="/assets/image/default.jpeg" class="card-img-top" alt="..." />
            <ul class="list-inline text-center member-icons animate">
                <li class="list-inline-item">
                    <button class="btn btn-primary" routerLink="/property-detail/{{property.id}}">E</button>
                </li>
                <li class="list-inline-item">
                    <button class="btn btn-primary">C</button>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ property.name }}</h5>
            <p class="card-text">{{ property.type }}</p>
            <p class="card-text">{{ property.price }}</p>
        </div> 
    </div>